header{
	position: fixed;
	top:0;
	width: 100%;
    z-index: 9999;
}
nav li{
	display: inline-block;
	width: 80px;
}
main{
	position: relative;
    top: 80px;
}
.supporting.col{
	display: inline-block;
	height: 200px;
	width: 200px;
}
footer{
	bottom:0;
	width:100%;
}